#menu th {
	background-color: #FF9900;
	color: #000000;
	font-family: "Courier New", Courier, monospace;
}
#menu body {
	background-color: #CCCCCC;
	font-family: "Courier New", Courier, monospace;
}
a:visited {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	color: #666666;
}
a:hover {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	color: #000000;
}
a:active {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	color: #000000;
}
#menu tr:hover {
	background-color: #FFCC66;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}
a:link {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #006600;
}

.vertnav {
	LIST-STYLE: none; 
	MARGIN: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px; 
	WIDTH: 18em
}
.vertnav LI {
	BORDER-BOTTOM: black 1px solid;
	BORDER-LEFT: black 1px solid;
	BORDER-RIGHT: black 1px solid;
	BORDER-TOP: black 1px solid;
	ARGIN: 0px;
	background-color: #CCCCCC;
}
.vertnav LI A {
	BACKGROUND-COLOR: #006600;
	COLOR: #FFFF00;
	DISPLAY: block;
	TEXT-ALIGN: left;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}
.vertnav LI A:hover {
	BACKGROUND-COLOR: #FFCC66;
	COLOR: #000000;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
}
.vertnav A {
TEXT-DECORATION: none
}
